/*http://tobiasahlin.com/spinkit/#*/
.i_loading_view
{
	position: absolute;
	z-index: 99999;
	top: 0;bottom: 0;left: 0;right: 0;
	background-color: rgba(100, 100, 100, 0.5);
	
}
.i_loading_container{
	
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	
	background-color: whitesmoke;
	border-radius: 6px;
	/*height: auto;*/  
	/*width: 100%;*/
	padding: 12px;
	
	width: 180px;
	text-align: center;
}
.i_loading_content{
	text-align: center;
	font-size: 20px;
	padding: 0;
	margin: 10px 0 0;
	color: #333333;
	width: 100%;
	line-height: 25px;
	/*overflow: hidden;*/
	word-wrap : break-word;
}
/*参考*/
.spinner {
  margin: auto auto;
  width: 70px;
  text-align: center;
  position: relative;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}